{% extends 'adminBase.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block title %}Edit Competence{% endblock %}

{% block body %}

    {{ include('competence/_form.html.twig', {'header_label':'Mise à jour de la compétence'}, {'button_label': 'Update'}) }}

    <div class="contents-control-user">
        <a class="link-back" href="{{ path('competence_index') }}">back to list</a>
    </div>
    
{% endblock %}
