{% block stylesheets %}
    {{ encore_entry_link_tags('foot') }}
{% endblock %}

<footer class="position-fixed bottom-0 w-100">
    <div class="footer-content d-flex justify-content-between px-2 py-4 mx-2">

        <div class="foot-content-link ">
            <ul>
                <li><a class="foot-links"  href="#">Compétences</a></li>
                <li><a class="foot-links"  href="#">Réalisation</a></li>
                <li><a class="foot-links"  href="#">Expérience</a></li>
                <li><a class="foot-links"  href="#">Formation</a></li>
            </ul>
        </div>
        <div class="foot-content-link my-auto">
            <ul class="p-0">
                <li><a class="foot-links"  href="#">Contact</a></li>
                <li><a class="foot-links"  href="#">Mention Légal</a></li>
            </ul>
        </div>
        <div class="foot-content-link my-auto">
            <ul class="ps-0">
                <li><a class="foot-links"  href="#">Github</a></li>
                <li><a class="foot-links"  href="#">LinkedIn</a></li>
            </ul>
        </div>

    </div>

</footer>
