@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

:root {
    box-sizing: border-box;
}

a,
p,
button,
td,
th,
span,
li
{
    font-family: 'Roboto', sans-serif;
}

nav a {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5
{
    font-family: 'Signika Negative', sans-serif;
}

.button-style {
    background-color: rgba(180,180,180,0.8);
}

a {
    text-decoration: none;
}

a.link-back {
    text-decoration: none;
    color: var(--fourth-color);
    border-radius: $spacing;
    border: 2px outset var(--second-color);
    background-color: var(--third-color);
    padding: 4px $spacing;
}

a.link-back:hover {
    text-decoration: underline;
    border-color: var(--third-color);
    background-color: var(--fourth-color);
    color: var(--first-color);
}

a.link-back:active {
    border-style: inset;
}

body {
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(24,49,82,1) 52%, rgba(2,0,36,1) 100%);
}
