:root {
  --first-color: #E1E6FA;
  --second-color: #C4D7ED;
  --third-color: #ABC8E2;
  --fourth-color: #375D81;
  --fifth-color: #183152;
  --spacing: 8px;
}

$spacing: 8px;
$spacing2: $spacing * 2;
$spacing3: $spacing * 3;
$spacing4: $spacing * 4;
$spacing5: $spacing * 5;

@import "~bootstrap/scss/bootstrap";
